{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create clicker</title>
    <link rel="stylesheet" href="{% static 'clicker/css/styles.css' %}">
</head>
<body>
<div id="gradient">
    <form action="{% url 'clicking' %}" method="POST">
        {% csrf_token %}

        <ul id="setInput">
            <li> Enter first cost: <input type="text" name="cost1"></li>
            <li> Enter first power: <input type="text" name="power1"></li>
            <li> Enter second cost: <input type="text" name="cost2"></li>
            <li> Enter second power: <input type="text" name="power2"></li>
            <li> Enter third cost: <input type="text" name="cost3"></li>
            <li> Enter third power: <input type="text" name="power3"></li>
        </ul>
        <input type="submit" value="Start">
    </form>
</div>

</body>
</html>